/* GLOBAL STYLES */
:root {
  --forest-green: #143203ff;
  --blue: #a6d8e3ff;
  --lincoln-green: #255b00ff;
  --bright-green: #d3fa81ff;
  --light-green: #edffd6ff;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

main {
  background-color: var(--light-green); 
  position: absolute;
  left: 160px;
  right: 0;
}

html, body {
  background-color: var(--light-green) !important;
  height: 100vh;
  right: 0;

}

#text-color {
  color: var(--forest-green);
}

.intro-text {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
}

.name-text {
  font-family: 'Carter One', cursive;
  /* font-size:500%; */

}

/* HEADER/NAVIGATION */

#header {
  background-color: var(--lincoln-green);
  height: 100vh;
  width: 10rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  position: fixed;

}

#headerText {
  color: var(--light-green);
}

#navText {
  color: var(--light-green);
  width: 100%;
}

#navText:hover {
  color: var(--blue);
}

/* FOOTER */

li a {
  text-decoration: none;
  color: var(--light-green);
}

li a:hover {
  color: var(--blue);
}

#footer {
  background-color: var(--lincoln-green);
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* ABOUT */

#about {
  color: var(--forest-green);
}

#img-border {
  border-color: var(--forest-green);
  border-width: 3px;
  border-style: solid;
}

/* CONTACT */

#contact-btn {
  background-color: var(--lincoln-green);
  color: var(--light-green);
  border: none;
}

/* RESUME & PORTFOLIO */

#resume, #links {
  text-decoration: none;
  color: var(--forest-green);
}

#resume:hover, #links:hover {
  color: var(--blue);
}

#resume-title {
  color: var(--lincoln-green);
}