:root {
  --forest-green: #143203ff;
  --blue: #a6d8e3ff;
  --lincoln-green: #255b00ff;
  --bright-green: #d3fa81ff;
  --light-green: #edffd6ff;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

main {
  background-color: var(--light-green);
  color: var(--forest-green);
}

/* HEADER/NAVIGATION */

#header {
  background-color: var(--lincoln-green);
}

#headerText {
  color: var(--light-green);
}

#navText {
  color: var(--light-green);
}

#navText:hover {
  color: var(--blue);
}

/* FOOTER */

li a {
  text-decoration: none;
  color: var(--light-green);
}

#footer {
  background-color: var(--lincoln-green);
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* ABOUT ME */

/* #about {
  margin-bottom: 0rem;
} */

/* .self-portrait {
  
} */