/* GLOBAL STYLES */
:root {
  --kombu-green: #3A553B;
  --hunter-green: #3E5C3F;
  --dark-green: #314933;
  --sea-green: #A5CA96;
  --black: #010101;
  --white: #FCFCF6;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

main {
  background-color: var(--hunter-green); 
  position: absolute;
  left: 160px;
  right: 0;
}

html, body {
  background-color: var(--hunter-green) !important;
  height: 100vh;
  right: 0;

}

.text-color {
  color: var(--sea-green);
}

.intro-text {
  font-family: 'Fira Code', monospace;
  font-weight: 300;
  color: var(--sea-green);
}

.name-text {
  font-family: 'Rock Salt', cursive;
  font-size: 500%;
  color: var(--black);
}

.name-text-2 {
  font-family: 'Rock Salt', cursive;
  color: var(--black);
}

.name-text-2:hover {
  color: var(--sea-green);
}

.name-text-header {
  font-family: 'Rock Salt', cursive;
  font-size: xx-large;
  color: var(--black);
}

.all-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: var(--white);
}

.titles {
  font-family: 'Rock Salt', cursive;
}

.sub-text {
  font-family: 'Quicksand', sans-serif;
}

/* HEADER/NAVIGATION */

#header {
  background-color: var(--kombu-green);
  height: 100vh;
  width: 10rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  position: fixed;

}

#headerText {
  color: var(--sea-green);
}

.header-icon {
  font-size: 30px;
  color: var(--white);
}

.header-icon:hover {
  color: var(--sea-green);
}

#navText {
  color: var(--white);
  width: 100%;
}

#navText:hover {
  color: var(--sea-green);
}

.nav-bg {
  background-color: var(--dark-green);
}

/* CONTACT */

.contact-btn {
  background-color: var(--sea-green);
  color: var(--black);
}

.contact-btn:hover {
  background-color: var(--dark-green);
  color: var(--white);
}

.all-text:hover {
  color: var(--sea-green);
}

/* WORK */
.work-icon {
  font-size: 30px;
  color: var(--black);
}

.work-icon:hover {
  color: var(--white);
}

.project-card:hover {
  background: rgba(255, 255, 255, 0.8);
  overflow-y: scroll;
  height: 100%;
  
}

.hover-text {
  color: var(--black);
}

/* SKILLS */

.resume-bg {
  background-color: var(--dark-green);
  color: var(--sea-green);
}

.resume-title {
  color: var(--white);
}

.resume:hover {
  color: var(--sea-green);
}